{% block css_adicional %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
    <div class="row" id="content-form">
        <form class="form-horizontal">
            {% block form_content %}{% endblock %}
        </form>
    </div>
{% endblock %}

{% block adicional_html %}
{% endblock %}
