{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_button %}
{% endblock %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body">
            {{ form_row(form.texto) }}
        </div>
    </div>
</div>
{% endblock %}
