{% trans_default_domain 'FOSUserBundle' %}
{% if form is defined %}{% form_theme form 'CoreZeroBundle:Form:zero_theme.html.twig' %}{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Cambiar Contraseña</h4>
</div>

{{ form_start(form, { 'action': path('zerobundle_admin_changepassword'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="modal-body">
        {{ form_widget(form) }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
